.footer {
  font-size: 16px;
  line-height: 21px;
  color: rgba(#ffffff, 0.5);
  background-color: #000000;

  &__container {
    @include container;
    padding-top: 80px;
    padding-bottom: 75px;

    @include mobile {
      padding-bottom: 50px;
    }
  }

  &__nav {
    display: flex;
    padding-top: 40px;

    @include tablet {
      flex-direction: column;
    }
  }

  &__nav-list {
    display: flex;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    list-style-type: none;

    @include tablet {
      flex-direction: column;
      flex-wrap: wrap;
      max-height: 80px;
    }

    @include mobile {
      max-height: none;
    }
  }

  &__nav-item {
    margin-left: 33px;

    &:first-child {
      margin-left: 0;
    }

    @include tablet {
      margin-left: 16px;
      margin-right: 16px;

      &:first-child {
        margin-left: 16px;
      }
    }
  }

  &__nav-link {
    position: relative;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    font: inherit;
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease-in;

    &:hover {
      color: rgba(#ffffff, 1);
    }
  }

  &__copyright {
    margin-left: auto;
    padding-top: 5px;

    @include tablet {
      padding-top: 25px;
    }
  }
}
