.footer {
  font-size: 16px;
  line-height: 21px;
  color: rgba(#ffffff, 0.5);
  background-color: #000000;

  &__container {
    @include container;
    padding-top: 80px;
    padding-bottom: 75px;
  }

  &__nav {
    display: flex;
    padding-top: 40px;
  }

  &__nav-list {
    display: flex;
    align-items: end;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__nav-item {
    margin-left: 33px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__nav-link {
    position: relative;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    font: inherit;
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease-in;

    &:hover {
      color: rgba(#ffffff, 1);
    }
  }

  &__copyright {
    margin-left: auto;
    padding-top: 5px;
  }
}
