.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  padding-top: 60px;
  font-family: $font-ibm;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  background-color: #000000;

  &__container {
    @include container;
    display: flex;
    flex-grow: 1;

    @include tablet {
      width: 100%;
    }
  }

  &__logo-link {
    flex-shrink: 0;
    margin-right: auto;

    @include tablet {
      margin-right: 20px;
    }
  }

  &__nav {
    overflow-x: auto;
    @include tablet {
      // max-width: 60%;
    }
  }

  &__nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__nav-item {
    flex-shrink: 0;
    margin-left: 29px;
  }

  &__nav-link {
    position: relative;
    display: block;
    padding-top: 15px;
    padding-bottom: 36px;
    font: inherit;
    text-decoration: none;
    color: inherit;

    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      height: 4px;
      width: 100%;
      background-color: transparent;
    }

    &:hover:not(&--active) {
      &::before {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }

    &--active {
      &::before {
        background-color: #ffffff;
      }
    }
  }
}
