.result {
  background-color: #eceef2;

  &__container {
    @include container;
    display: flex;

    @include mobile-wide {
      flex-direction: column;
    }
  }

  &__img-block {
    flex-shrink: 0;
    padding-top: 80px;
    padding-bottom: 70px;

    @include tablet {
      flex-shrink: 1;
    }

    @include mobile-wide {
      align-self: center;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    margin-left: 129px;
    // padding-top: 175px;

    @include tablet {
      flex-shrink: 0;
      width: 60%;
      padding-bottom: 40px;
      padding-right: 40px;
      margin-left: 30px;
    }

    @include mobile-wide {
      width: 100%;
      padding-bottom: 60px;
      padding-right: 0;
      margin-left: 0;
    }
  }

  &__title {
    @include reset;
    padding-bottom: 28px;
    font-weight: 600;
    font-size: 44px;
    line-height: 1.5;

    @include tablet {
      font-size: 36px;
    }
  }

  &__text-wrap {
    padding-bottom: 8px;
  }

  &__text-wrap p {
    @include reset;
    font-size: 18px;
    line-height: 1.6;
  }
}
