.triple {
  padding-top: 80px;

  &__container {
    @include container;
    display: flex;

    @include mobile-wide {
      flex-direction: column;
    }
  }

  &__info {
    flex-shrink: 0;
    width: 260px;
    margin-right: 75px;
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 1.6;

    @include mobile-wide {
      width: auto;
      margin-right: 0;
    }
  }

  &__info p {
    @include reset;
    padding-top: 4px;
  }

  &__list {
    @include list-reset;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    padding-bottom: 40px;
  }

  &__item-icon {
    flex-shrink: 0;
    margin-right: 40px;

    @include tablet {
      width: 80px;
      height: 80px;
    }
  }

  &__item-title {
    @include reset;
    padding-bottom: 18px;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.5;
  }

  &__item-text {
    @include reset;
  }
}
